{#
/**
 * @link      https://github.com/kennethormandy/craft-marketplace
 * @package   Marketplace
 * @since     0.2.0
 */
#}

{% import '_includes/forms' as forms %}

{{ forms.autosuggestField({
  label: 'Stripe Secret Key'|t('Stripe Secret Key'),
  instructions: 'The secret API key for the parent Stripe account, where other Stripe accounts will be connected. This is the same value you use in the Stripe for Craft Commerce gateway.'|t('marketplace'),
  id: 'secretApiKey',
  name: 'secretApiKey',
  class: 'code',
  placeholder: 'sk_live_AaAaAaAaAaAaAaAaAaAaAaAa',
  value: settings.secretApiKey,
  suggestEnvVars: true,
  required: true,
  errors: settings.getErrors('secretApiKey'),
}) }}

{{ forms.textField({
  type: 'number',
  label: 'Default Fee Multiplier',
  instructions: 'The portion of each line item that should be kept by the platform. This can be left blank, and [fully customized using events]({url}).'|t('marketplace', {
    url: 'https://example.com',
  })|md,
  id: 'defaultFeeMultiplier',
  name: 'defaultFeeMultiplier',
  value: settings.defaultFeeMultiplier,
  min: 0,
  max: 1,
  step: 0.01,
  unit: '/1',
  width: 5,
  errors: settings.getErrors('defaultFeeMultiplier'),
}) }}

({{ settings.defaultFeeMultiplier|percentage  }})

<hr>

<a class="fieldtoggle" data-target="advanced">{{ 'Advanced'|t('app') }}</a>
<div id="advanced" class="hidden">

  <h2>OAuth</h2>

  {{ forms.textField({
    readonly: true,
    label: 'Redirect URI'|t('marketplace'),
    instructions: 'Copy this URI into the Stripe Dashboard when setting up Stripe Connect using OAuth.'|t('marketplace'),
    value: provider.getRedirectUri(),
  }) }}
  
  {{ forms.autosuggestField({
    label: 'Stripe Connect Client ID'|t('marketplace'),
    instructions: 'Your Client ID for Stripe Connect, for Stripe accounts using OAuth. Note this is not the same as your Stripe publishable key.'|t('marketplace'),
    name: 'clientId',
    class: 'code',
    placeholder: 'ca_AaAaAaAaAaAaAaAaAaAaAaAaAaAaAaAa',
    required: false,
    suggestEnvVars: true,
    value: settings.clientId,
    errors: settings.getErrors('clientId'),
  }) }}

</div>
