{#
/**
 * @link      https://github.com/kennethormandy/craft-marketplace
 * @package   Marketplace
 * @since     0.2.0
 */
#}

{% import "_includes/forms" as forms %}
{# @var craft \craft\web\twig\variables\CraftVariable #}

{{ forms.autosuggestField({
    label: 'Stripe Secret Key',
    instructions: 'The Stripe secret API key for the parent Stripe account, that other Stripe accounts will be connected to.',
    id: 'secretApiKey',
    name: 'secretApiKey',
    class: 'code',
    placeholder: 'sk_live_AaAaAaAaAaAaAaAaAaAaAaAa',
    value: settings.secretApiKey,
    suggestEnvVars: true
  })
}}

{% if supportedApps is not defined or not supportedApps %}
  {# Shows a “Register New App” button that simply points to the OAuth
     plugin setting spage, if there are no supported apps already.
     Ideally, replace with a process that creates the app for you programatically.
  #}
  <a href="{{ url('oauthclient/apps/new') }}"
     class="btn submit add icon">{{ 'Register A New Stripe App'|t }}</a>
{% else %}
  {{ forms.selectField({
    label: 'Stripe OAuth App',
    instructions: '',
    id: 'appHandle',
    name: 'appHandle',
    options: supportedApps|map((obj) => { label: "#{obj.name} (#{obj.handle})", value: obj.handle })
  }) }}

  {# Maybe there’s just one fee for now, and an upgrade option
   # is a more complex fee structre, ex. percent and flat, or other
   # conditionals. In the meantime, it would just be the one % fee,
   # or maybe one configurable flat or % fee, and then wait to add anything
   # else until there is demand or need. #}

   <h2>Fees</h2>

   {% set feeTypeLabelByValue = {
     'flat-fee': '$ (Flat fee)',
     'price-percentage': '% (Percent of price)'
   } %}

   {% if fees is defined and fees|length %}
     <table>
       <thead>
         <tr>
           <th>Name</th>
           <th>Handle</th>
           <th>Value</th>
           <th>Type</th
         </tr>
       </thead>
       <tbody>
         {% for fee in fees %}
           <tr>
             <th><a href="/admin/marketplace/fees/{{ fee.handle }}">{{ fee.name }}</a></th>
             <td><code>{{ fee.handle }}</code></td>
             <td>{{ fee.value }}</td>
             <td>{{ fee.type }}</td>
           </tr>
         {% endfor %}
       </tbody>
     </table>
   {% else %}
     <p>No fees set.</p>
   {% endif %}
   
   <p>
     <a href="/admin/marketplace/fees/new">Add a new fee</a>
   </p>

{% endif %}
