{#
/**
 * @link      https://github.com/kennethormandy/craft-marketplace
 * @package   Marketplace
 * @since     0.2.0
 */
#}

{% import "_includes/forms" as forms %}
{# @var craft \craft\web\twig\variables\CraftVariable #}

{{ forms.autosuggestField({
    label: 'Stripe Secret Key',
    instructions: 'The Stripe secret API key for the parent Stripe account, that other Stripe accounts will be connected to.',
    id: 'secretApiKey',
    name: 'secretApiKey',
    class: 'code',
    placeholder: 'sk_live_AaAaAaAaAaAaAaAaAaAaAaAa',
    value: settings.secretApiKey,
    suggestEnvVars: true
  })
}}

{% if supportedApps is not defined or not supportedApps %}
  {# Shows a “Register New App” button that simply points to the OAuth
     plugin setting spage, if there are no supported apps already.
     Ideally, replace with a process that creates the app for you programatically.
  #}
  <a href="{{ url('oauthclient/apps/new') }}"
     class="btn submit add icon">{{ 'Register A New Stripe App'|t }}</a>
{% else %}
  {{ forms.selectField({
    label: 'Stripe OAuth App',
    instructions: '',
    id: 'appHandle',
    name: 'appHandle',
    options: supportedApps|map((obj) => { label: "#{obj.name} (#{obj.handle})", value: obj.handle })
  }) }}
{% endif %}

{#

<form method="post" accept-charset="UTF-8" data-confirm-unload>
  {{ hiddenInput('id', app.id) }}
  {{ actionInput('oauthclient/apps/save') }}
  {{ csrfInput() }}

  {{ forms.textField({
      label: 'Name'|t('oauthclient'),
      instructions: 'Give your app a descriptive name, like Google, HubSpot CRM, or Jeff'|t('oauthclient'),
      name: 'name',
      first: true,
      id: 'name',
      value: app.name,
      required: true,
      errors: app.getErrors('name'),
  }) }}

  <div class="btn submit formsubmit add icon">Register New App (In progress)</div>
</form>

#}
