{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% block content %}
<form method="post" action="" accept-charset="UTF-8">
  {{ actionInput('marketplace/fees/save') }}
  {{ csrfInput() }}

  {% if fee and fee.id %}
    <input type="hidden" name="id" value="{{ fee.id }}" />
  {% endif %}

  <div style="display: flex;">
    <div style="padding-right: 1rem">
      {{ forms.textField({
        label: 'Handle',
        name: 'handle',
        id: 'handle',
        instructions: '',
        type: 'text',
        value: fee.handle ? fee.handle : '',
        required: true,
        errors: fee.getErrors('handle')
      }) }}
    </div>
    <div style="padding-right: 1rem">
      {{ forms.textField({
        label: 'Name',
        name: 'name',
        id: 'name',
        instructions: '',
        type: 'text',
        value: fee.name ? fee.name : '',
        required: true
      }) }}
    </div>
    <div style="padding-right: 1rem">
      {{ forms.textField({
        label: 'Value',
        name: 'value',
        id: 'value',
        instructions: '',
        type: 'number',
        value: fee.value ? fee.value / 100 : 0,
        min: 0,
        required: true
      }) }}
    </div>
    <div>
      {{ forms.selectField({
        label: 'Type',
        name: 'type',
        id: 'type',
        options: [
          { label: '$ (Flat fee)', value: 'flat-fee' },
          { label: '% (Percent of price)', value: 'price-percentage' }
        ],
        value: fee.value ? fee.value : '',
        required: true
      }) }}
    </div>
  </div>

  <input type="submit" value="{{ fee.id ? 'Save' : 'Add' }}" />
</form>

{% if fee and fee.id %}
  <form method="post" action="" accept-charset="UTF-8">
    {{ actionInput('marketplace/fees/delete') }}
    {{ csrfInput() }}
    
    <input type="hidden" name="id" value="{{ fee.id }}" />
    <input type="hidden" name="handle" value="{{ fee.handle }}" />
    
    <input type="submit" value="Delete fee {{ fee.name }}" />
  </form>
{% endif %}

{% endblock %}
