{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Marketplace plugin for Craft CMS 3.x
 *
 * MarketplaceConnectButton Field Input
 *
 * @author    Kenneth Ormandy
 * @copyright Copyright (c) 2019 Kenneth Ormandy
 * @link      https://kennethormandy.com
 * @package   Marketplace
 * @since     0.1.0
 */
#}

{#
{% set title = 'Your Orders' %}
{% set elementType = 'craft\\commerce\\elements\\Order' %}
{% set showSiteMenu = false %}
{% set sources = craft.orders().all() %}
{% extends "_layouts/elementindex" %}
#}

{% import "_includes/forms" as forms %}

{#
{{ forms.field({
  label: 'Some Field',
  instructions: 'Enter some text here.',
}) }}
#}

{# TODO Not doing any validation to actually check if the
   field was attached to a user versus some other kind
   of element right now #}
{% set user = element %}

<code>{{ value }}</code>

{% if craft.oauth.getAppByHandle is defined %}
{% set app = null %}

{# TODO Alternatively, could only send along userId in context,
 # and then query user in event. #}
{# Pathname and Hash are added via JS. #}
{% set context = {
  contextName: 'MarketplaceConnectButton',
  user: user,
} %}

{% if app %}
    {% set tokens = app.getValidTokensForUser(user) %}
    {% set active = tokens|length and value %}
    {% set currentUserViewing = currentUser and user and currentUser.id == user.id %}

    <div class="field">
      <div class="value flex">
        <div class="flex-grow">
          <span class="status {{ active ? 'active' : 'inactive' }}">
          </span> {{ active ? 'Connected' : 'Not connected' }} to {{ app.name }}</div>
      </div>
    </div>

    {% if active and currentUserViewing %}
      {# Working but messy approach of getting Stripe Express Dashboard login URL #}
      {# Not possible to use a form here, because you’re in a form. #}
      <div class="field">
        <a class="btn" target="_blank" href="{{ accountLoginUrl }}">Login to {{ app.name }} Dashboard</a>
      </div>

    {% else %}
      {# Show the connect button #}
      <div class="field">
        <div class="heading">
          <label>Authorize</label>
        </div>
        <div class="input">
          {% if not currentUser or not user or currentUser.id != user.id %}
            <p>Only the logged in user may authorize their account.</p>
          {% else %}
            <a class="btn"
               target="_blank"
               id="{{ id }}-authorize"
               href="{{ app.getRedirectUrl(context) }}">
              Authorize with {{ app.name }}
            </a>

            {# Get current page and hash for redirect #}
            <script>
                var elAuthorize = document.getElementById('{{ namespacedId }}-authorize');
                if (elAuthorize) {
                  var loc = {
                    pathname: '/admin',
                    hash: ''
                  }

                  if (window && window.location && typeof window.location === 'object') {
                    loc = window.location
                  }

                  if (encodeURIComponent) {
                    elAuthorize.href = `${elAuthorize.href}&context[location][pathname]=${encodeURIComponent(loc.pathname)}&context[location][hash]=${encodeURIComponent(loc.hash)}`
                  }
                }
            </script>
          {% endif %}
        </div>
      </div>
    {% endif %}
      
    {% if value %}
      <div class="field">
        <div class="heading">
          <label for="{{ name }}">{{ app.name }} ID</label>
        </div>
        <div class="input">
          {{ forms.text({
            id: id,
            name: name,
            value: value,
            disabled: true,
          }) }}
        </div>
      </div>
    {% endif %}
{% else %}
    Could not find app to authorize with.
{% endif %}
{% endif %}
