{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Marketplace plugin for Craft CMS 3.x
 *
 * MarketplaceConnectButton Field Input
 *
 * @author    Kenneth Ormandy
 * @copyright Copyright (c) 2019 Kenneth Ormandy
 * @link      https://kennethormandy.com
 * @package   Marketplace
 * @since     0.1.0
 */
#}

{% import "_includes/forms" as forms %}

{% set user = element.className() == 'craft\\elements\\User' ? element : null %}
{% set isCurrentUserViewing = currentUser and user and currentUser.id == user.id %}

<div class="field">
  <div class="value flex">
    <div class="flex-grow">
      <span class="status {{ isConnected ? 'active' : 'inactive' }}">
      </span> {{ isConnected ? 'Connected' : 'Not connected' }}</div>
  </div>
</div>

{% if not isCurrentUserViewing %}
  <p>Only the logged in user may authorize their account.</p>
{% else %}

  <div class="field">
    {#
      Like `hosted-dashboard.twig` and `hosted-onboarding.twig`, but with GET requests.
      Not possible to use a form, because you’re in a form.
    #}
    {{ tag('a', {
      text: isConnected ? 'Open Dashboard'|t('marketplace') : 'Connect'|t('marketplace'),
      href: actionUrl(isConnected ? 'marketplace/accounts/create-login-link' : 'marketplace/accounts/create', {
        elementUid: element.uid,
      }),
      class: 'btn',
      target: '_blank',
      id: "#{id}-button",
    }) }}

    {# Get current page and hash (tab) for redirect #}
    <script>
      const elAuthorize = document.getElementById('{{ namespacedId }}-button')

      function _updatedRedirectUrl(el) {
        if (!el) {
          return
        }

        let loc = {
          pathname: '/admin',
          hash: ''
        }

        if (window && window.location && typeof window.location === 'object') {
          loc = window.location
        }

        if (encodeURIComponent) {
          el.href = `${el.href}&redirect={{ baseCpUrl }}${encodeURIComponent(loc.pathname)}${encodeURIComponent(loc.hash)}`
        }
      }

      window.setTimeout(() => {
        _updatedRedirectUrl(elAuthorize)
      }, 100)

    </script>

  </div>
{% endif %}
      
{% if value %}
  <div class="field">
    {{ forms.text({
      id: id,
      name: name,
      value: value,
      disabled: true,
    }) }}
  </div>
{% endif %}
