{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Marketplace plugin for Craft CMS 3.x
 *
 * MarketplaceConnectButton Field Input
 *
 * @author    Kenneth Ormandy
 * @copyright Copyright (c) 2019 Kenneth Ormandy
 * @link      https://kennethormandy.com
 * @package   Marketplace
 * @since     0.1.0
 */
#}

{% import "_includes/forms" as forms %}

{% set user = element.className() == 'craft\\elements\\User' ? element : null %}
{% set isConnected = element.getIsConnected() %}

{% set currentUserViewing = currentUser and user and currentUser.id == user.id %}

<div class="field">
  <div class="value flex">
    <div class="flex-grow">
      <span class="status {{ isConnected ? 'active' : 'inactive' }}">
      </span> {{ isConnected ? 'Connected' : 'Not connected' }}</div>
  </div>
</div>

{% if not currentUserViewing %}
  <p>Only the logged in user may authorize their account.</p>
{% else %}

  <div class="field">
    {% if isConnected %}

      {# Like `hosted-dashboard.twig`, but with GET requests. Not possible to use a form, because you’re in a form. #}
      <a class="btn" target="_blank" href="{{ actionUrl('marketplace/accounts/create-login-link', {
        elementUid: element.uid,
      }) }}">{{ 'Open Dashboard'|t('marketplace') }}</a>

    {% else %}

      {# Like `hosted-onboarding.twig`, but with GET reqeusts #}
      <a class="btn" target="_blank" href="{{ actionUrl('marketplace/accounts/create', {
        elementUid: element.uid,
      }) }}">{{ 'Connect'|t('marketplace') }}</a>

    {% endif %}

    {# Get current page and hash for redirect #}
    <script>
      var elAuthorize = document.getElementById('{{ namespacedId }}-authorize');
      if (elAuthorize) {
        var loc = {
          pathname: '/admin',
          hash: ''
        }

        if (window && window.location && typeof window.location === 'object') {
          loc = window.location
        }

        if (encodeURIComponent) {
          elAuthorize.href = `${elAuthorize.href}&redirect=${encodeURIComponent(loc.pathname)}#${encodeURIComponent(loc.hash)}`
        }
      }
    </script>

  </div>
{% endif %}
      
{% if value %}
  <div class="field">
    {{ forms.text({
      id: id,
      name: name,
      value: value,
      disabled: true,
    }) }}
  </div>
{% endif %}
